<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--IE priority -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="DuongHailee">
    <meta name="author" content="DuongHaiLee, Jacky, Hailee">
    <meta name="keywords" content="portfolio, full-stack developer, metropolia UAS">

    
    <script src="{{asset('js/jquery-3.7.1.js')}}"></script>
    <script src="{{asset('js/jquery-ui.js')}}"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{asset('css/jquery-ui.css')}}">
    <link rel="stylesheet" href="{{asset('css/jquery-ui.structure.css')}}">
    <link rel="stylesheet" href="{{asset('css/jquery-ui.theme.css')}}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

    <link rel="stylesheet" href="{{asset('css/landing.css')}}">

    <script src="{{asset('js/main.js')}}"></script>
</head>
<body>
{%block body%}
{% include "header.html.twig" %}
<main>
    {{form_start(form)}}
        <label>Número personas</label>
        {{form_widget(form.num_personas)}}
        <input type="submit" class="btn btn-primary">
    {{form_end(form)}}
    <span style="color:red;">
        {% for error in errores %}
            {{error.message}}
        {% endfor %}
        <p style="color:red;">{{error}}</p>
    </span>
</main>
{% endblock %}
</body>
</html>