<html>
<head>
        <script src="{{asset('js/jquery-3.7.1.js')}}"></script>
        <script src="{{asset('js/jquery-ui.js')}}"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{asset('css/jquery-ui.css')}}">
		<link rel="stylesheet" href="{{asset('css/jquery-ui.structure.css')}}">
		<link rel="stylesheet" href="{{asset('css/jquery-ui.theme.css')}}">
		<link rel="stylesheet" href="{{asset('css/landing.css')}}">
		<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k2pi+La5s+4v3k5z0fDDOpz8r5NR3H1h8DG5b6f7k1IF4tZ1vXFOBycYPStZGoE" crossorigin="anonymous">
        <script src="{{asset('js/index.global.js')}}"></script>
        <script src="{{asset('js/horarioGuia.js')}}"></script>
        <style>
            ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }

            ul li{
                color: red;
                margin-bottom: 10px;
                margin-top: 10px;
            }

        </style>
</head>
{% block body %}
<body>
    {% include "header.html.twig" %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-0 shadow-lg">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4 text-primary">Creación de informe</h2>

                        {% for flash_message in app.session.flashbag.get('Exito') %}
                            <div class="alert alert-success">{{ flash_message }}</div>
                        {% endfor %}

                        {{ form_start(vista, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

                        <div class="mb-3">
                            {{ form_row(vista.observaciones, {'attr': {'class': 'form-control', 'placeholder': 'Observaciones', 'required': 'required'}}) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(vista.dinero, {'attr': {'class': 'form-control', 'placeholder': 'Cantidad de dinero', 'required': 'required', 'type': 'number'}}) }}
                            <div class="invalid-feedback">
                                Por favor, ingresa la cantidad de dinero.
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_row(vista.imagen, {'attr': {'class': 'form-control', 'placeholder': 'URL de la imagen', 'required': 'required'}}) }}
                            <div class="invalid-feedback">
                                Por favor, ingresa la URL de la imagen.
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_row(vista.Tour, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
                            <div class="invalid-feedback">
                                Por favor, selecciona un Tour.
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
                        </div>

                        {{ form_end(vista) }}

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock %}
</html>